/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/bitnami/hyperledger-fabric-ca:latest/ordererOrg/*
organizations/bitnami/hyperledger-fabric-ca:latest/org1/*
organizations/bitnami/hyperledger-fabric-ca:latest/org2/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
